$white-color: rgb(255, 255, 255);
$black-color: #000;
$deep-blue-color: #002D3F;
$teal-color: #00BCBC;
$dark-gradient-color: linear-gradient(180deg, #2E4E5C, #142329);
$william-color: #375A69;
$plantation-color: #253C45;
$plantation-dark-color: #2E4E5C;
$aqua-spring-color: #F5FCFC;
$pale-sky-color: #49535E;
$blue-wood-color: #3B6475;
$pine-green-color: #007A7A;
$blue-stone-color: #006161;
$gold-color: #F4BA00;
$catskill-white-color: #F3F6F9;
$mystic-color: #DCEAEF;
$off-water-color: #E5F8F8;
$alto-color: #DCE2E5;
$alto-50-color: rgba(220, 226, 229, 0.5);
$gray-chateau-color: #CBD1DA;
$limeade-color: #358500;
$punch-color: #DD3131;
$venetian-red-color: #D0021B;
$dixie-color: #E29619;
$cerulean-color: #009CDB;
$oslo-gray-color: #808E93;
$opal-color: #AEC7CB;
$concrete-color: #F8F8F8;
$ziggurat-color: #C0D9E4;
$baby-blue-color: rgb(137, 222, 255);
$link-water-color: #F1F6FB;
$light-shade-of-cyan-color: #B6D0DA;